**/*.pyc
**/*.pyd
**/*.pyo
**~
.vscode
config.json
workspace
ssh
.coverage
htmlcov
.mypy_cache
test-reports
/build
dist
junitreports
**env.list*
.vim
.pytest_cache
.idea
**/.DS_Store
inspec_output.xml
.kitchen
**/*.lcov
